


.sn_1 {
  
    font-size: 2.75rem;
    line-height: 4rem;
  }
  
  .sn_2 {
    
    font-size: 2rem;
    line-height: 2.5rem;
  }
  
  .sn_3{
    
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .sn_4{
    
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .sn_5{
    
    font-size: 0.5rem;
    line-height: 1rem;
  }
  
