<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="../main/main.css">
    <link rel="stylesheet" href="../components/comp.css">
</head>
<body><!-- main -->
    <div class="main-container">
        <div class="navbar-wrapper">
 
            <div class="nav">
                <div class="navbar-header">
                <div class="logo">
                    <a href="/index.html"></a>
                 </div>
                </div>
            </div>
       
        <!-- topics -->
        <a href="/main/main.html" class="text">get started</a>
        <div class="navbar-main">
            <a href="/components/Avatar/index.html">Avatar</a>
            <a href="/components/Button/button.html">Button</a>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-text">
                <p>let's connect</p>
            </div>
        </div>
        </div>
    </div>
    <div class="main">
        <div class="main-header">
            <div>
                <h1 class="main-header-text">Alert</h1>
            </div>
            <p>An alert displays a short,important message in a way that attracts the user's attention</p>
        </div>
    </div>
    <div class="main-content">

    </div>
</body>
</html>