<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="/main/main.css">
    <link rel="stylesheet" href="../comp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/e70e2d0aa4.js" crossorigin="anonymous"></script>
</head>
<body><!-- main -->
    <div class="main-container">
        <div class="navbar-wrapper">
 
            <div class="nav">
                <div class="navbar-header">
                <div class="logo">
                    <a href="/index.html"></a>
                 </div>
                </div>
            </div>
       
        <!-- topics -->
        <a href="/main/main.html" class="text">get started</a>
        <div class="navbar-main">
            <a href="/components/Avatar/index.html">Avatar</a>
            <a href="/components/Alert/alert.html">Alert</a>
            <a href="/components/Badge/badge.html">Badge</a>
            <a href="/components/Button/button.html">Button</a>
             <a href="/components/Card/card.html">Card</a>
             <a href="/components/Image/image.html">Image</a>
             <a href="/components/Input/input.html">Input</a>
            <a href="/components/Modal/modal">Modal</a>
            <a href="/components//TextUtilities/textutilities">Text-Utilities</a>
            <a href="/components/Navigation/navigation">Navigation</a>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-text">
                <p>let's connect</p>
            </div>
        </div>
        </div>
 
  <!-- Alert component -->
    <div class="header">
        <div class="section-header">
            <div>
                <h1 class="text-header">ALERT</h1>
                    <p class="para">
                       Alert are used to attract user's attention for important info.
                    </p>
              <hr>
              
            </div>
        </div>
        <div class="section-main">
           
<div class="alert-info">Types of Alert
<p>To get the result,we will change the status of alert</p>
<div class="alert_main">
    <div class="alert alert-warning">
        <div class="alert-warning">
            <i class="fas fa-exclamation-triangle"></i>
            <h4>warning alert </h4>
        </div>
        <a href="alert-close-btn"><i class="fas fa-times"></i></a>
    </div>
    <div class="alert alert-success">
        <div class="alert-message">
            <i class="fas fa-check-circle"></i>
            <h4>success Alert message</h4>
        </div>
        <a href="alert-close-btn"><i class="fas fa-times"></i></a>
    </div>
    <div class="alert alert-danger">
        <div class="alert-danger">
            <i class="fas fa-skull-crossbones"></i>
            <h4>danger Alert message</h4>
        </div>
        <a href="alert-close-btn"><i class="fas fa-times"></i></a>
    </div>

    <div class="alert alert-success">
        <div class="alert-message">
            <i class="fas fa-exclamation"></i>
            <h4>primary alert message</h4>
        </div>
        <a href="alert-close-btn"><i class="fas fa-times"></i></a>
    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>