.alert-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2.5rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    padding: 1rem;
}
.alert{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 25rem;
    align-items: center;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
}
.alert-msg{
    display: flex;
    align-items: center;
    gap: 1.5rem;
  
}
.alert-danger{
    background-color: var(--main);
    color: var(--red);
   
}
.alert-warning{
    background-color: var(--main);
   
}
.alert-success{
    background-color: var(--main);
 
}
.alert-primary{
    background-color: var(--main);
 
}
.alert-close-btn{
    font-size: 1.5rem;
}