.main-container{
    display: flex;
}

.text{
    font-size: 0.5rem;
    margin: 1.5rem;
    font-weight: bold;
}
/* navbar */
.navbar-wrapper{
    width: 20%;
    height: 100vh;
    font-size: 1rem;
    flex-direction: column;
    overflow-y: scroll;
display: flex;
flex-shrink: 0;
}
.nav{
    display: flex;
    flex-direction: column;
}
.navbar-main{
    display: flex;
    flex-direction: column;
}
.navbar-main a{
  border-radius: 40px;
  padding: 1rem 0rem 1rem 0rem;
  letter-spacing: 1px;
  transition: 0.3s all ease-in-out;
}
.navbar-header{
    padding: 1rem;
}