.main-container{
    display: flex;
}
.nav{
    display: flex;
    flex-direction: column;
}
.text{
    font-size: 0.5rem;
    margin: 1.5rem;
    font-weight: bold;
}
.navbar-wrapper{
    width: 20%;
    height: 100vh;
    font-size: 1rem;
    flex-direction: column;
    overflow-y: scroll;
display: flex;
flex-shrink: 0;
}

.navbar-main a{
  border-radius: 40px;
  padding: 1rem 0rem 1rem 0rem;
}