@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    letter-spacing: 1px;
}

/* color variable */
:root{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    --main:#fca5a5;
    --green:#86efac;
    --red:#f87171;
    --dark-red:#f72121;
    --gray:#7d8693;
    --dark-green:#116a31;
}

/* logo */
.logo{
    display: flex;
    justify-content: center;
}

.logo a{
    color: var(--main-color);
    font-size: 2.5rem;
    display: flex;
    align-items: flex-end;
}




.main-container{
    display: flex;
}

.text{
    font-size: 1.5rem;
    margin: 1.5rem;
    font-weight: bold;
}
/* navbar */
.navbar-wrapper{
    width: 15%;
    height: 200vh;
    font-size: 1rem;
    flex-direction: column;
    overflow-y: scroll;
display: flex;
flex-shrink: 0;
background-color: var(--green);
transition: 0.3s all ease-in;
}
.nav{
    display: flex;
    flex-direction: column;
}
.navbar-main{
    display: flex;
    flex-direction: column;
}
.navbar-main a{
  border-radius: 40px;
  padding: 1rem 0rem 1rem 0rem;
  letter-spacing: 1px;
  transition: 0.3s all ease-in-out;
  text-decoration: none;
}
.navbar-header{
    border-bottom: var(--main-color);
    padding: 1rem;
}
hr{
    width:250%;
    text-align:left;
    margin-left:0;
    }
    .code{
        display: flex;
        margin-top: 2rem;
        margin-bottom: 4rem;
        justify-content: center;
        width: 100%;
        height: auto;
    }
.section-info{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.para{
    padding: 1rem;
}
.text-header{
    padding: 1rem;
}