<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="/main/main.css">
    <link rel="stylesheet" href="../comp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- main -->
    <div class="main-container">
        <div class="navbar-wrapper">
 
            <div class="nav">
                <div class="navbar-header">
                <div class="logo">
                    <a href="/index.html"></a>
                 </div>
                </div>
            </div>
       
        <!-- topics -->
        <a href="/main/main.html" class="text">winx UI</a>

        <div class="navbar-main">
            <a href="/components/Avatar/index.html">Avatar</a>
            <a href="/components/Alert/alert.html">Alert</a>
            <a href="/components/Badge/badge.html">Badge</a>
            <a href="/components/Button/button.html">Button</a>
             <a href="/components/Card/card.html">Card</a>
             <a href="/components/Image/image.html">Image</a>
             <a href="/components/Input/input.html">Input</a>
            <a href="/components/Modal/modal">Modal</a>
            <a href="/components//Typography/typo">Typography</a>
            <a href="/components/List/list">List</a>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-text">
                <p>let's connect</p>
            </div>
        </div>
        </div>
   
<div class="main">
    <div class="main-header">
        <div>
            <h1 class="text-header">BUTTONS</h1>
          <p class="para">
            Buttons communicate actions that users can take
          </p>

          <hr>
        </div>
    </div>
<!-- standard-buttons -->
    <div class="section">
        <div class="section-info">
            <h3>Standard Buttons</h3>
            <div class="btn-container">
                <button class="btn primary">Primary</button>
                <button class="btn secondary">Secondary</button>
                <button class="btn danger">Danger</button>
                <button class="btn warning">warning</button>
            </div>
        </div>
   
    <!-- outlined buttons -->
    <div class="section">
        <div class="section-info">
        <h3>Outlined Buttons</h3>
   <div >
       <br>
    <p class="outlined-body">
        Outlined buttons are medium-sized buttons.They contain actions that are that are important, but aren't 
        the primary action in an app.
    </p>
<br>
    <button class="outlined-btn outlined-primary">outlined </button>
    <button class="outlined-btn outlined-warning">outlined </button>
    <button class="outlined-btn outlined-secondary">outlined </button>
    <button class="outlined-btn outlined-attention">outlined </button>
</div>
</div>
</div>

<!-- ICON BUTTON -->
<div class="section">
    <div class="section-info">
        <h3>Icon button</h3>
        <div class="btn-container">
        <p class="icon-body">
<button class="btn-icon home">
    <i class="fa fa-home">home</i> 
</button>
<button class="btn-icon address">
    <i class="fa fa-address-book" aria-hidden="true"></i>
</button>
        </p>
    </div>
    </div>

<!-- floating-button -->
<div class="section">
    <div class="section-info">
        <h3>Floating button</h3>
        <div class="btn-container">
        <p class="float-body">
            A floating action button (FAB) performs the primary, or most common, action on a screen. 
          
        </p>
      
        <button class="btn-float"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
</div>

</div>
</div>
</div>
</div>
</body>
</html>