.avatar_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
  }
  .avatar {
    border-radius: var(--border-full);
    width: 1rem;
    object-fit: cover;
    border-radius: 4.5rem;
  }
  
  .pic_one {
    width: 3rem;
    height: 3rem;
  }
  .pic_two {
    width: 4rem;
    height: 4rem;
  }
  .pic_three {
    width: 9rem;
    height: 9rem;
  }
  