<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="stylesheet" href="../comp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/e70e2d0aa4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <div class="navbar-wrapper">
 
            <div class="nav">
                <div class="navbar-header">
                <div class="logo">
                    <a href="/index.html"></a>
                 </div>
                </div>
            </div>
       
        <!-- topics -->
        <a href="/main/main.html" class="text">get started</a>
        <div class="navbar-main">
            <a href="/components/Avatar/index.html">Avatar</a>
            <a href="/components/Alert/alert.html">Alert</a>
            <a href="/components/Badge/badge.html">Badge</a>
            <a href="/components/Button/button.html">Button</a>
             <a href="/components/Card/card.html">Card</a>
             <a href="/components/Image/image.html">Image</a>
             <a href="/components/Input/input.html">Input</a>
            <a href="/components/Modal/modal">Modal</a>
            <a href="/components//TextUtilities/textutilities">Text-Utilities</a>
            <a href="/components/Navigation/navigation">Navigation</a>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="footer-text">
                <p>let's connect</p>
            </div>
        </div>
        <!-- images -->
        <div class="header">
            <div class="section-header">
                <div>
                    <h1 class="text-header">Images</h1>
                        <p class="para">
                            Image Component is an adaptive image component that features in-place editing.
                        </p>
                  <hr>
                  
                </div>
            </div>
            <div class="section-main">
               
    <div class="section-info">Types of Alert
    <p>To get the result,we will change the status of alert</p>
    <div class="image-main">
        
     
                </div>
            </div>
        </div>
        <div class="code">
       
    
        </div>
        </div>
        </div>
</body>
</html>