.badge-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    background-color: var(--main);
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.badge{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
}